@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background: #1e2326;
    color: whitesmoke;
    font-family: Righteous, sans-serif;
}

.hamburger {
    right: 10%;
    position: fixed;
    display: block;
    width: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 100;
}