<div class="fondo flex flex-col">
    <h1 class="text-6xl text-center justify-center font-bold">Contact</h1>

    <img src="/portfolio/img/contact_bg.png" alt="" />
    <div
        class="flex flex-col p-8 mt-10 mb-10 ali mx-auto justify-center w-full md:w-1/2"
    >
        <p class="m-2 text-3xl text-center">Let's get in touch!</p>

        <p class="m-2 text-2xl text-center mt-10">Send me an email</p>
        <a
            target="_blank"
            href="mailto:thaizire@protonmail.com"
            class="m-auto p-4 text-3xl text-center mt-10 bg-verde-link w-1/2 rounded-md hover:bg-color-texto hover:scale-110 hover:text-white ease-in duration-200"
            >Here!</a
        >
    </div>
</div>

<style>
    .fondo {
        /* background-image: url(""); */
        position: relative;
        height: 45vh;
        margin-top: 5%;
        margin-bottom: auto%;
    }
    .fondo img {
        position: absolute;
        width: 75%;
        height: 75%;
        transform: translate(15%, 0%);
    }
</style>
