<div class="fondo">
    <h1 class="text-6xl text-center font-bold">Contact</h1>

    <div
        class="flex flex-col p-8 mt-10 mb-10 ali mx-auto justify-center w-full md:w-1/2"
    >
        <p class="m-2 text-3xl text-center">Let's get in touch!</p>

        <p class="m-2 text-2xl text-center mt-10">Send me an email</p>
        <a
            target="_blank"
            href="mailto:thaizire@protonmail.com"
            class="m-auto p-4 text-3xl text-center mt-10 bg-verde-link w-1/2 rounded-md hover:bg-color-texto hover:scale-110 hover:text-white ease-in duration-200"
            >Here!</a
        >
    </div>
</div>

<style>
    .fondo {
        background-image: url("/portfolio/img/contact_bg.png");
        height: 45vh;
        margin-top: 8%;
        margin-bottom: auto%;
    }
</style>

<!-- <form id="form" class="flex flex-col p-4">
                <input
                    id="name"
                    class="p-2 m-2 h-14 border-2 border-none bg-fondo-form placeholder-current"
                    type="text"
                    required
                    placeholder="Your Name"
                />
                <input
                    id="tel"
                    class="p-2 m-2 h-14 border-2 border-none bg-fondo-form placeholder-current"
                    type="tel"
                    required
                    placeholder="You phone number"
                />
                <input
                    id="email"
                    class="p-2 m-2 h-14 border-none bg-fondo-form placeholder-current"
                    type="email"
                    required
                    placeholder="Your Email"
                />
                <input
                    id="subject"
                    class="form_input p-2 m-2 h-14 border-2 border-none bg-fondo-form placeholder-current"
                    type="text"
                    required
                    placeholder="Subject"
                />
                <textarea
                    id="message"
                    class="form_input p-2 m-2 h-40 border-2 border-none bg-fondo-form placeholder-current placeholder:top"
                    required
                    placeholder="Message"></textarea>
                <input
                    id="form_submit"
                    type="submit"
                    value="Send"
                    class="cursor-pointer p-2 m-2 w-20 h-10 border-2 border-none bg-fondo-form hover:bg-color-texto hover:text-white ease-in duration-200"
                />
            </form> -->
