---
import experience from "../data/experience.json";
---

<h1 class="text-6xl text-center mt-20 font-bold">Experience</h1>

<div>
    {
        experience.map((exp) => (
            <>
                <div class="flex justify-center bg-fondo-claro bg-opacity-15 text-4xl gap-8 p-4 m-10 border-2 rounded-lg w-auto">
                    <div class="flex flex-col">
                        <h3 class="text-center">{exp.company}</h3>
                        <p class="text-base text-center mt-2">
                            - {exp.position}
                        </p>
                        <p class="text-base text-center mt-2">
                            - {exp.duration}
                        </p>
                        <p class="text-base text-center mt-2">
                            - {exp.description}
                        </p>
                    </div>
                </div>
            </>
        ))
    }
</div>
