<footer class="bg-fondo-form mx-auto py-10 gap-4 mt-4">
    <div class="container mx-auto text-center md:flex md:justify-evenly">
        <div class="gap-4">
            <h4 class="font-bold text-xl">Site Map</h4>
            <a class="hover:text-verde-link" href="#top">Home</a>
            <a class="hover:text-verde-link" href="#skills">Skills</a>
            <a class="hover:text-verde-link" href="#experience">Experience</a>
            <a class="hover:text-verde-link" href="#contact">Contact</a>
        </div>

        <div>
            <h4 class="font-bold text-xl">Copyright 2024</h4>
            <p>Thaizir El Troudi</p>
        </div>

        <div>
            <h4 class="font-bold text-xl">Social Links</h4>
            <a
                class="hover:text-verde-link mr-4"
                target="_blank"
                href="https://github.com/Thaizir"
                ><i class="fa-brands fa-github"></i></a
            >
            <a
                class="hover:text-verde-link"
                target="_blank"
                href="https://www.linkedin.com/in/thaizir-el-troudi-9a3414169/"
                ><i class="fa-brands fa-linkedin"></i></a
            >
        </div>
    </div>
</footer>
